<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>com.twitter.twitter-mac</string>
		<key>name</key>
		<string>Twitter</string>
		<key>url</key>
		<string>twitter</string>
	</dict>
</array>
</plist>
